<!-- full logo version with slogan, icon and text, add the class .ts-full if you want to work with some of the existing CSS -->
<img src="/img/logo.jpg" class="logo-img" />
<svg version="1.1" viewBox="0 0 1050.61096 179.54858" class="ts-full">
    <g transform="translate(-49.00717,-350.11674)">
        <text x="237.15662" y="477.12143" class="gridster">
            <tspan x="237.15662" y="477.12143">Moore Aprons</tspan>
        </text>
        <text x="304.80173" y="512.31683" class="slogan">
            <tspan x="304.80173" y="512.31683">Handmade Aprons, Coasters, and Moore!</tspan>
        </text>
    </g>
</svg>